.subscription_main {
  width: 100%;
  height: auto;
  background: #000060;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 5%;
  position: relative;
}
.heading_text {
  color: var(--primary-white);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
}
.para_text {
  margin-top: 1rem;
  color: #c7c7c7;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
}
.button_container {
  margin-top: 2.5rem;
}
.backgroundImage1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 17rem;
}
.backgroundImage2 {
  position: absolute;
  bottom: 0;
  right: 2rem;
  width: 21rem;
}

@media only screen and (max-width: 900px) {
  .subscription_main {
    padding: 3rem 5%;
  }
  .heading_text {
    font-size: 2.125rem;
  }
  .para_text {
    margin-top: 0.875rem;
    font-size: 1rem;
  }
  .button_container {
    margin-top: 1.5rem;
  }
  .backgroundImage1 {
    width: 10rem;
  }
  .backgroundImage2 {
    right: 0rem;
    width: 12rem;
  }
}

@media only screen and (max-width: 600px) {
  .subscription_main {
    padding: 2rem 5%;
    text-align: center;
  }
  .heading_text {
    font-size: 1.875rem;
  }
  .para_text {
    margin-top: 0.5rem;
    font-size: 0.875rem;
  }
  .button_container {
    margin-top: 1rem;
  }
  .backgroundImage1 {
    width: 7rem;
  }
  .backgroundImage2 {
    width: 7rem;
  }
}
